*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'EB Garamond', serif;
}

/*navigation */
#menu a{
    font-weight: bold;
    text-transform: uppercase;
    font-size:0.8rem;
    padding-right: 5px;
    padding-left: 5px;
}
#menu a:link{
    color: black;
}
#menu a:active{
    background-color: green;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5%;
}
#menu a:hover{
    color:lightgray;
}


/* about */
#bg{
    position: relative;
    width: 100%;
    height: 100%;
}
#bg::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;   
    box-sizing: border-box;
    background-image: url(../images/bg_ethio.jpg);
    background-size: cover;
    /* opacity: 0.7; */
}
#greet{
    position: relative;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 3.2rem;
    text-align: center;
    font-family: 'EB Garamond', serif;
    margin: 0;
}
#greet::before{
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 12em;
    z-index: -1;
    opacity: 0.3;
    background-color: #171d24;
}
#content{
    background-color: rgb(250, 122, 3);
    padding-top: 10%;
    /* font-family: 'EB Garamond', serif; */
    display: flex;
    flex-direction: column;    
}
#content>img{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 5%;
}
#content>div{
    text-align: justify;
    padding: 5% 10%;
}
#content>div>p a:link{
    color: white;
}
#content>div>p a:hover{
    color: green;
}
#content>div>p a:visited{
    color: white;
}

/* unforgetable moments */
#memory{
    background-color: rgb(7, 6, 6);
    margin: 0;
    color: whitesmoke;
    /* font-family: 'EB Garamond', serif; */
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.title{
    text-transform: uppercase;
    text-align: center;
}
.hor_bar{
    border-bottom: 3px solid white;
    width: 50px;
    margin: auto;
}
.description{
    margin-top: 5%;
    text-align: center;
}
#moment img{
    max-width: auto;
    max-width: 100%;
}
#link{
    border: 2px solid white;
    width: fit-content;
    padding: 0;
    align-self: center;
}
#link>a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 10px;
    max-width: 100px;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 1rem;
}
#link>a:hover{
    color: black;
    background-color: whitesmoke;
}
/* hobbies */
#hobby>div{  
    background-color:black;
    /* padding-left: 5%; */
}
#hobby div h2{
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
}
#hobby div ul{
    margin-left: 20%;
}
#hobby div ul li{
    text-align: left;

}
.card{
    margin: 2%;
    color: black;
}
.card-title{
    text-transform: capitalize;
    
}
.card-text{
    text-align: justify;
    margin-bottom: 5%;
}

.card-text li{
    text-transform: capitalize;
}
.btn{
    text-transform: capitalize;
}
