*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'EB Garamond', serif;
    
}

/*navigation */
#menu a{
    font-weight: bold;
    text-transform: uppercase;
    font-size:1.2rem;
    padding-right: 5px;
    padding-left: 5px;
}
#menu a:link{
    color: black;
}
#menu a:active{
    background-color: green;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5%;
}
#menu a:hover{
    color:lightgray;
}


/* about */
#bg{
    position: relative;
    width: 100%;
    height: 100%;
}
#bg::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;   
    box-sizing: border-box;
    background-image: url(../images/ethio_nile.jpg);
    background-size: cover;
    /* opacity: 0.7; */
}
#greet{
    position: relative;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
    
}
#greet::before{
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 12em;
    z-index: -1;
    opacity: 0.3;
    background-color: #171d24;
}
#content{
    background-color: rgb(250, 122, 3);
    padding-top: 10%;
    /* font-family: 'EB Garamond', serif; */
    display: flex;
    flex-direction: column;    
}
#content>img{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 5%;
}
#content>div{
    text-align: justify;
    padding: 5% 10%;
    color: white;
}
#content>div>p a:link{
    border-bottom: 2px solid white;
    text-decoration: none;
}
#content>div>p a:hover{
    color: green;
}
#content>div>p a:visited{
    color: white;
}

/* title */
.title{
    text-transform: uppercase;
    text-align: center;
}
.hor_bar{
    border-bottom: 5px solid rgb(20, 248, 70);
    width: 60px;
    margin: auto;
}
/* unforgetable moments */
#memory{
    background-color: rgb(7, 6, 6);
    margin: 0;
    color: whitesmoke;
    /* font-family: 'EB Garamond', serif; */
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.description{
    margin-top: 2%;
    text-align: center;
    font-size: 1.3rem;
}
#moment img{
    max-width: auto;
    max-width: 100%;
}
#link{
    border: 2px solid white;
    width: fit-content;
    padding: 0;
    align-self: center;
}
#link>a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 10px;
    max-width: 100px;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 1rem;
}
#link>a:hover{
    color: black;
    background-color: whitesmoke;
}
/* hobbies */
#hobby>div{  
    
    padding-bottom: 3%
}
#hobby div h2{
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 2%;
}
#hobby div ul{
    margin-left: 20%;
}
#hobby div ul li{
    text-align: left;

}
.card{
    margin: 2%;
    color: black;
}
.card-title{
    text-transform: capitalize;
    
}
.card-text{
    text-align: justify;
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.card-text li{
    text-transform: capitalize;
}
.btn{
    text-transform: capitalize;
}
/* contact */
#contact{
    font-size: 1.4rem;
    padding: 2%;
    background-color: rgb(250, 122, 3);
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    background-color: white;
    font-size: 1.2rem;
}
footer>div>a:hover{
    position: relative;
    bottom: 10px;
}
footer>div>a>img{
    width: 50px;
    height: 50px;
}
footer>div>span{
    padding: 5px;
}
footer>div:last-child{
    margin-top: 3%;
}
footer>div:last-child>p{
    margin: 0;
    padding: 0;
}
footer>div:last-child>p:nth-child(1){
    padding-left: 15%;
}
footer>div:last-child>p>a{
    text-decoration: none;
}

/* large screens */
@media(min-width: 768px){
    
    #bg{
        position: relative;
        width: 100%;
        height: 600px;
        
    }
    #bg::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;   
        box-sizing: border-box;
        background-image: url(../images/ethio_nile.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* opacity: 0.7; */
    }
    #greet{
        position: relative;
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 5rem;
        text-align: center;    
        padding-top: 12%;
    }
    #greet::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        min-width: 100%;
        min-height: 12em;
        z-index: -1;
        opacity: 0.2;
        background-color: #171d24;
    }


    #content{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    #content>img{
        order: 2;
        flex: 1;
        height: auto;
        border-radius: 0;
        margin: 0;
       
    }
    #content>div{
        order: 1;
        flex: 1;
        font-size: 1.4rem;
        text-align: justify;
        padding: 5% 5% 0% 5%;
    }

    #moment img{
        width: 600px;
        height: 400px;
    }
    #hobby{
        padding-left: 8%;
    }
    #moment-page{
        font-size: 1.4rem;
        background-color: rgb(75, 153, 243);
        padding:2% 0% 2% 5%;
    }
}