@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Crimson Text', serif;

}

/*navigation */
#menu a{
    
    text-transform: capitalize;
    font-size:1.1rem;
    font-family: 'Quicksand', sans-serif;

}
#menu a:link{
    color: black;
}
#menu a:active{
    background-color: green;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5%;
}
#menu a:hover{
    color:white;
    background-color: black;
    /* padding: 10px; */
}
#home{
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-decoration: none;
}
.icon{
    color: black;
    font-size: larger;
    padding-right: 5%;
}
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ display: block; padding-right: 50px; border: none;}


/* about */
#bg{
    position: relative;
    width: 100%;
    height: 100%;
}
#bg::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;   
    box-sizing: border-box;
    background-image: url(../images/ethio_nile.jpg);
    background-size: cover;
    filter: brightness(.7);
    -webkit-clip-path: polygon(50% 17%, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
        clip-path: polygon(40% 0, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
    /* opacity: 0.7; */
}
#greet{
    position: relative;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 3.2rem;
    text-align: center;

    
}
#greet::before{
    content: "";
    display: block;
    position: absolute;

    min-width: 100%;
    min-height: 12em;
    z-index: -1;
    opacity: 0.3;
    
}

#intro{
    background-color: white;
    font-size: 1rem;
    text-align: center;
    margin: 8% 0% 5% 0%;
}
#content{
 
    padding-top: 10%;
  
    
}
#content>img{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: auto;
   
}
#content>div{
    text-align: justify;
    padding: 5% 10%;
    color: black;
}
#content>div>p a:link{
    border-bottom: 2px solid white;
    text-decoration: none;
}
#content>div>p a:hover{
    color: green;
}
#content>div>p a:visited{
    color: white;
}
/* about_blog */
#blog{
    margin:0% 10% 10% 10%;
}

/* title */
.title{
    text-transform: uppercase;
    text-align: center;
}

/* unforgetable moments */
#memory{
    margin: 0;
    color: black;
    padding: 20px 0px;
}

.description{
    margin-top: 1%;
    text-align: start;
   
    padding-left: 2%;
}
.description>h2{
    text-align: center;
}
#moment img{
    width:100%;
    height: 250px;
}

#link{
    border: 2px solid white;
    width: fit-content;
    padding: 0;
    align-self: center;
}
#link>a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 10px;
    max-width: 100px;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 1rem;
}
#link>a:hover{
    color: black;
    background-color: whitesmoke;
}
/* hobbies */
#hobby{
    padding-bottom: 10%;
    
}
#hobby>div{  
    
    padding-bottom: 3%
}
#hobby div h2{
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 2%;
}
#hobby div ul{
    margin-left: 20%;
}
#hobby div ul li{
    text-align: left;

}
.card{
    margin: 2%;
    color: black;
}
.card-title{
    text-transform: capitalize;
    
}
.card-text{
    text-align: justify;
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.card-text li{
    text-transform: capitalize;
}
.btn{
    text-transform: capitalize;
    background-color: rgb(214, 51, 51);
    color: white;
  
}
.btn:hover{
    filter: brightness(0.8);
  
}
/* gallery */
#moment-page{
    padding:2% 0% 10% 5%;
    margin-bottom: 5%;
}
/* contact */
#contact{
    font-size: 1.1rem;
    padding: 2%;
    margin-bottom: 10%;
}

/* channel */
#channel a{
   margin-left: 20%; 
   
}
footer{
    width: 100%;
    background-color: rgb(44, 39, 39);
    color: white;
    text-align: center;
    
    
}
.footer_top{
    position: relative;
    bottom: 30px;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(../images/footer_bg.JPEG);
    background-size: contain;
    padding: 3% 2%;
    width: fit-content;

}
.footer_bottom{
    padding-bottom: 2%;
    padding-left: 2%;
}

/* large screens */
@media(min-width: 768px){
    /* about navigation */
    #about-nav{
        background-color: white;
        padding: 0% 10%;
        font-weight: bold;
    }
    #about-nav a:hover{
        font-weight: normal;
        filter: contrast(0.6);
    }
    .icon{
        font-size: larger;
        padding-right: 0%;
    }
    /* about */
    #bg{
        position: relative;
        width: 100%;
        height: 600px;
        
        
        
    }
    #bg::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;   
        box-sizing: border-box;
        background-image: url(../images/ethio_nile.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-bottom-left-radius: 100% 160px;
        border-bottom-right-radius: 100% 160px;
       
        /* opacity: 0.7; */
    }
    #greet{
        position: relative;
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 5rem;
        text-align: center;    
        padding-top: 12%;
    }
    #greet::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        min-width: 100%;
        min-height: 12em;
        z-index: -1;
        opacity: 0.2;
    
    }
    #intro{
        background-color: white;
        font-size: 2.5rem;
        text-align: center;
        margin: 5% 5%;
        border-radius: 50% 0 0% 50% / 50px;
    }
    /* about_blog */
    #blog{
        margin:0% 10% 10% 10%;
    }

    /* what am doing */
    #I_do{
        margin-bottom: 10%;
    }
    #I_do>h1{
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    #channel{
        margin-bottom: 10%;
    }
    #moment img{
        width: 600px;
        height: 400px;
    }
    #hobby{
        padding-left: 8%;
    }
   

    #content{
        width: 100%;
        padding-top: 2%;
       
    }
    #content>img{
        width: 400px;
        height: 400px;
        box-sizing: border-box;
        border-radius: 0%;
       
    }
    #content>div{
        text-align: justify;
        padding: 2% 2%;
        color: black;
    }

    /* gallery */
    #moment-page{
        font-size: 1.4rem;
        padding:2% 0% 2% 5%;
        margin-bottom: 5%;
    }

    /* contact */
    #contact{
        font-size: 1rem;
        padding: 2%;
        margin-bottom: 10%;
    
    }

    /* channel */
    #bigbrain{
        display: -webkit-flex;
        display: flex;
       
    }
   
    #bigbrain>img{
        order: 2;
    }
    #bigbrain>div{
        text-align: justify;
        order: 1;
    }
    
    .footer_top{
        position: relative;
        bottom: 80px;
        border-radius: 15px;
        background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(../images/footer_bg.JPEG);
       
        background-size: contain;
        padding: 3% 2%;
        width: 80%;
    }
    .footer_bottom{
        display: flex;
        justify-content: center;
        padding-left: 15%;
    }
}